*{
    margin: 0;
    padding: 0;
    color: #5e5b5b;
}
html,body{
    height: 100%;
}
.wrap{
    height: 95%;
    overflow-y: scroll;
}
.logo{
    margin: 3% 0 5% 5%;
}
.step{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.form{
    width: 100%;
}
.form .formGroup{
    width: 90%;
    margin:auto;
    margin-bottom: 20px;
}
.form .labelTitle{
    width: 20%;
    display: inline-block;
}
.form .formControl{
    width: 70%;
    display: inline-block;
    margin-left: 5%;
}
.form .formControl .floor-input{
    display: inline-block;
    width: 26%;
}
.form .formControl .total-floor-span{
    margin-left: 3%;
}

.form .formControl label{
    margin-right: 5%;
}
.form .formControl .code-input{
    width: 40%;
    display: inline-block;
    margin-right: 5%;
}
.form .formControl .code-span .getCode{
    display: inline-block;
    width: 50%;
    color: #fff;
    background-color: #fe0000;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
}
.form .assessDiv{
    position: fixed;
    bottom: 0;
    left: 5%;
    margin-top: 35px;
}
.form .assess{
    
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background-color: #fe0000;
    line-height: 40px;
    height: 40px;
    text-align: center;
    

}
.form .invalid{
    border-color: #fe0000;
}
.form .formControl .code-span .disabled{
    background-color: graytext;
}
.formP{
    width: 70%;
    display: inline-block;
}

/* * 城市页 * */
.cityList .disabled{
    background-color: graytext;
}
.tip{
    height: 45px;
    background: #f8f8f8;
    line-height: 45px;
    text-align: center;
}
.line{
    width: 35px;
    height: 1px;
    background: #dfdfdf;
    display: inline-block;
    margin:0 3px 5px 3px;
}
.choose{
    color: #b2b2b2;
    font-size: 15px;
}
.cityList ul{
    list-style: none;
    width: 90%;
    margin: auto;
    padding: 0;
}
.cityList ul li{
    display: block;
    height: 60px;
    border-bottom: 1px solid #ddd;
}
.cityList ul li span{
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    float:left;
}
.cityList ul li a{
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 30px;
    width: 90px;
    float:right;
    color:#fff;
    background: #0094ff;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    margin-top: 15px;
}

/* * 评估页面 * */
.accessResult{
    margin-top: 40px; 
}
.accessResult .result{

    font-size: 18px;
    text-align: center;
}
.accessResult .result span{
    font-size: 26px;
}
.accessResult .houseImg{
    text-align: center;
    margin-top: 20px;
}
.accessResult .loan{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
.accessResult .loan input{
    width: 20%;
    display: inline-block;
}
.accessResult .tips{
    text-align: center;
    color:#b2b2b2;
    margin-top: 10px;
}
.accessResult .apply{
    height: 35px;
    background: #0094ff;
    text-align: center;
    line-height: 35px;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    margin-top: 35px;
}
.accessResult .apply a{
    color: #fff;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: block;
}

/* * 成功页面 * */
.humanDiv{
    text-align: center;
    margin-top: 50px;
}
.success{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}
.tip1,tip2,tip3{
    color:#b2b2b2;
    text-align: center;
    margin-bottom: 10px;
    
}
